<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
</head>
<body>
  <hgroup>
    
    <div class="logo"><a href="http://www.polymer-project.org/" target="_blank"><img class="logo" src="{% static 'img/OvoCloud.png' %}"></a>
      <p>Un pequeño huevo para la gallina <a href="http://www.polymer-project.org/" target="_blank">Un gran salto para ovopacific</a></p>
    </div>
  </hgroup>
  <form>
    <div class="group">
      <input type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Nombre</label>
    </div>
    <div class="group">
      <input type="email"><span class="highlight"></span><span class="bar"></span>
      <label>Correo</label>
    </div>
    <button type="button" class="button buttonBlue">Iniciar Sesion
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>


</body>
</html>